.customBanner img {
  width: 100%;
  height: 650px;
}

.blogContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blogCard {
  margin-bottom: 40px;
}

.blogCard img {
  height: 200px;
}

.memu a {
  text-decoration: none;
}

.blogForm {
  padding: 16px;
}

.submitButtonContainer {
  display: flex;
  justify-content: flex-start;
}
