.customBanner img{
    width: 99vw;
    height:650px;
}

.blogContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blogCard{
    margin-bottom: 40px;
}